* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}

#header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#menu {
    width: 20%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#field {
    width: 80%;
    overflow: auto;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: auto;
}

#tblSquares, #tblTools {
    background-image: url("../assets/t0.bmp");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    margin: 10px auto; /* Asegura centrado horizontal */
}

td {
    padding: 0;
    border: 1px solid black;
}

.hand {
    cursor: pointer;
}

.hand-icon {
    width: 16px;
    height: 16px;
}

.grid td {
    border: solid 1px black;
}

.grid td.hilite {
    border: solid 1px red;
}

.nogrid td {
    border: none;
}

#tblField td {
    width: 16px;
    height: 16px;
    padding: 0;
}

#tblField img {
    width: 16px;
    height: 16px;
    display: block;
}
